body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Noto Serif JP', serif !important;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

html {
    font-size: 62.5%;
    /* 16px = 10px*/
    background-color: #f7f7f7;
}

header {
    background-color: #f7f7f7;
    padding-bottom: 2em;
}

main {
    background-color: #f7f7f7;

}

footer {
    height: 30em;
    background-color: #f7f7f7;
    color: rgb(35, 35, 35);
    margin-top: -1em;
    /* remove white gap between main and footer*/

}

picture img {
    width: 100%;
}


/* table */
table {
    font-family: arial, sans-serif;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fa-minus {
    color: red;
}






/* nav */

.topnav {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 4em 0 1em 0;
}

.left-menu,
.right-menu {
    padding-top: 1.6em;
}

.left-menu {
    padding-left: 5em;
}

.logo {
    color: #e7b100;
    /* text-shadow: 1px 1px 10px #e7b100, 1px 1px 4px #e7b100; */
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Dancing Script', cursive;
}

.topnav a {
    color: rgb(35, 35, 35);
    font-size: 1.2em;
    padding: 1em;
}

.topnav a:hover {
    color: rgb(35, 35, 35);
    text-decoration: none;
    transition: 0.8s ease;
}




/* index */
.read-btn {
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    border: 1px solid#be0909;

}

.read-btn:focus {
    outline: none;
}

.read-btn:hover {
    transition: 0.3s ease;
    background-color: #d40000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}

.link {
    color: #c1c1c1 !important;
}

.link:hover {
    color: #f2f2f2 !important;
}



/* films, series, documenataries */
.grid-box-films h1 {
    font-size: 5em;
}




.delete-btn {
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid#be0909;
    width: 12em;

}

.delete-btn:focus {
    outline: none;
}

.delete-btn:hover {
    transition: 0.3s ease;
    background-color: #d40000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}

.edit-btn {
    background-color: #efefef;
    color: #000000;
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #efefef;
    width: 12em;
}

.edit-btn:focus {
    outline: none;
}

.edit-btn:hover {
    transition: 0.3s ease;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}





/* messeges / alerts */

.message {
    font-size: 1.4em;
    list-style-type: none;
    color: white;
}

.error {
    color: rgb(255, 46, 46);
}

.success {
    color: #e7b100 !important;
}





/* login form */

.form {
    margin: auto !important;
    width: 40%;
    background-color: #000000;
    border-radius: 15px;
    padding: 5em;
    box-shadow: 2px 2px 30px 1px rgb(190, 9, 9, 0.2), 1px 1px 20px rgb(190, 9, 9, 0.5)
}

.input-form {
    font-size: 1.2em;
    padding: 0.4em 0.4em;
    width: 100%;
}

.form label {
    font-size: 1.4em;
    margin-top: 0.5em;
    color: white;
    width: 100%;
}

.add-btn {
    background-color: #e7b100;
    border: 2px solid transparent;
    color: rgb(35, 35, 35);
    font-size: 1.6em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 15em;
    height: 3em;
}

.add-btn:focus {
    outline: none;
}

.add-btn:hover {
    transition: 0.5s ease;
    background-color: #f8c10e;
    /* border: 2px solid black; */
    border-radius: 2px;
    box-shadow: none;
}

.bomb-btn {
    background-color: #d0d0d0;
    border: 2px solid transparent;
    color: rgb(35, 35, 35);
    font-size: 1.6em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 5em;
}

.bomb-btn:focus {
    outline: none;
}

.bomb-btn:hover {
    transition: 0.5s ease;
    background-color: #000000;
    /* border: 2px solid black; */
    border-radius: 2px;
    box-shadow: none;
}

.del-btn {
    background-color: #ff6767;
    border: 2px solid transparent;
    color: rgb(35, 35, 35);
    font-size: 1.6em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 10em;
}

.del-btn:focus {
    outline: none;
}

.del-btn:hover {
    transition: 0.5s ease;
    background-color: #f98484;
    /* border: 2px solid black; */
    border-radius: 2px;
    box-shadow: none;
}

.title {
    margin-bottom: 1em;
    color: rgb(35, 35, 35);
}

.link {
    text-decoration: underline;
    color: rgb(70, 150, 255);
}








/* createpost  */

.select-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-createpost {
    margin: auto !important;
    max-width: 75em;
    background-color: #f7f7f7;
    padding: 1em 5em;
}

.form-createpost label {
    font-size: 1.6em;
    margin-top: 0.5em;
    color: rgb(35, 35, 35);
    width: 100%;
}

.form-createpost select {
    font-size: 1.4em;
    width: 13em;
    height: 2.5em;
}





/* info post */
.info-post {
    margin: auto;
}




@media screen and (min-width: 992px) {}

@media screen and (max-width: 992px) {

    .wrapper {
        padding: 5em 6em 5em 6em;
    }

    table {
        width: 85%;
        margin: 0 auto;
    }

    .form {
        width: 80%;
    }


}


@media only screen and (max-width: 992px) and (min-width: 772px) {}

@media screen and (max-width: 772px) {

    .login-wrapper {
        padding: 4em 0 10em 0;
    }


    .form-createpost select {
        font-size: 1.4em;
        width: 8em;
        height: 2em;
    }

    .left-menu {
        padding-left: 10em;
    }


}

@media screen and (max-width: 500px) {}